body {
  display: block;
  padding: 0;
  margin: 0;
}
pre {
  display: flex;
  white-space: normal;
}
.loading {
    display: flex;
    flex-direction: column;
    color: #fff !important;
    background-color: #313131;
    justify-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
    justify-content: center;
}
.blog-post-page {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  align-items: center;
  justify-content: center;
  align-content: baseline;
  flex-wrap: wrap;
}
.main-title {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
  color: #fff;
}
.main-content-users {
  display: flex;
  flex-flow: wrap;
  grid-template-columns: 1fr 1fr;
  color: #fff !important;
  padding: 20px;
  justify-items: center;
  column-gap: 0;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
  column-gap: 20px;
}
.blog-post-page .item-user {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.blog-post-page .item-user .column-user p{
  margin-top: 0;
}
.main-content-user {
  display: block;
  color: #fff !important;
  justify-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.bg {
    background-color: darkcyan;
  }
.bg-1 {
    background-color: #313131;
}
/*Users*/
.main-content-users .item-user p, .main-content-user .item-user p {
  display: block;
  width: max-content;
  color: #f9f9f9 !important;
  margin-bottom: 2px;
}
.main-content-users .item-user, .main-content-user .item-user {
  background-color: #313131;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  min-width: 260px;
  text-decoration: none;
}
.item-user:hover {
  opacity: 0.7;
}
span.icon-user {
  display: block;
  font-size: 40px;
}
.icon-user svg {
  padding: 10px 12px;
  border-radius: 50%;
  display: block;
  background-color: #fff;
}
.icon-user svg path {
  fill: darkcyan;
}
/****/
.user-details-container {
  display: block;
  background-color: darkcyan;
  width: 100%;
}
.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
  padding-left: 40px;
  max-width: 900px;
  margin: auto;
}
.column-ico-user .icon-user {
  display: block;
  font-size: 80px;
}
.column-ico-user .icon-user svg {
  padding: 20px 24px;
}
/****/
.column-info-user h2 {
  margin-top: 0;
}
.column-info-user p{
  margin-top: 0;
  margin-bottom: 5px;
}
/****/
.list-posts {
  padding: 40px;
  list-style: none;
  max-width: 900px;
  margin: auto;
}
.item-post {
  padding: 3px 10px 10px;
  background-color: #505050;
  margin-bottom: 20px;
  border-radius: 10px;
}
.container-info-post {
  padding: 10px;
}
.container-info-post h3 {
  margin:5px 0px;
}
/****/
.list-comments-post {
  list-style: none;
  padding: 10px;
  /* background-color: #fff; */
  border-radius: 8px;
  background-color: #757575
}
.item-comment {
  padding: 0px 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgb(255,255,255,0.2);
}
.item-comment:last-child {
  border-bottom: none;
}
.item-comment:not(:first-child) .container-user-comment {
  margin-top: 10px;
}
.container-user-comment {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.container-user-comment .icon-user {
  font-size: 20px;
}
.container-user-comment .icon-user svg path {
  fill: #313131;
}
.btn-comment {
  padding-right: 20px;
  margin-left: auto;
  color: rgb(255,255,255,0.8);
  text-decoration: underline;
  text-decoration-color: rgb(255,255,255,0.5);
  width: max-content;
  display: block;
  margin-bottom: 10px;
}
.btn-comment:visited{ 
  color: rgb(255,255,255,0.8);
}
.name-comment {
  margin-top: 0px;
  margin-bottom: 10px;
}
.body-comment {
  margin-top: 0px;
}